


/*------ fonts Lora ----- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ------  Variable  ---- */

:root {
  --primary-color: #335eea;
  --navbar-color: #080f1d;
  --hover-color: #050814;
  --heading-color: #161c2d;
  --content-text-color: #0a0e14;
  --primary-green: #858585;
  --header-background: #86d6d8;
  --seize: 1376px;
}

/* ----- general styling ---- */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: white;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}



/* ------ Container ------ */
.container {
  width: 100%;
}
@media screen and (min-width: 1070px) {
  .container {
    width: 1070px;
    margin: 0 auto;
  }
}

/* ------ Header and Navbar ----- */
.header {
  margin: 0 auto;
  height: 60px;
  padding: 0 20rem;
  background-color: var(--header-background);
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -------- Logo -----*/
.logo h2 {
  font-size: 28px;
  color: var(--primary-color);
}

/* ------ Nav menu ------ */
.menu-list {
  display: flex;
  align-items: center;
}
.menu-list .menu-items {
  margin: 0 2rem;
}

.menu-items .menu-link {
  font-size: 20px;
  line-height: 27px;
  color: var(--navbar-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.menu-link:hover {
  color: rgb(245, 245, 245);
}

.nav-menu {
  display: none;
}

/* ------ Wrapper ------ */
.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.column-1 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.col-tiems-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.descript-heading {
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.descript-heading span {
  color: var(--primary-color);
}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #334157;
}
.btn-wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}

.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--hover-color);
}

.clicked-btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}

.clicked-btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.col-tiems-2 {
  width: 100%;
  height: 100%;
}
.img-wrapper {
  width: 500px;
  max-width: 100%;
  height: 450px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.column-2 {
  width: var(--seize);
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}

.intro-text {
  height: 100%;
}

.info {
  width: 100%;
}

.info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  color: var(--heading-color);
}

.info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}

@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav-menu {
    display: block;
  }
}